html {
    font-family: 'poppins';
    font-size: 70%;
}

body{
    width: 1200px;
    height: 3000px;
    background: #090a0f;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;
 }
main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
}

header{
    height: 65px;
    width: 1100px;
}
.wrapper__one{
    width: 1100px;
    height: 660px;
    margin: 0 auto;
    border-radius: 2em;
}

.container-1{
    width: 100%;
    margin: 0 auto;
    display: grid;
    padding: 20px;
    gap:  15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "right right"
    "left  left";
}
.wrap{
    position: relative;
}

.wrap__01{
    width: 1100px;
    height:500px;
    grid-area: right;
    position: relative;
    background: #93d5e1;
    border-radius: 30px 0px 30px 30px;
}


 .wrap__02{
    width: 580px;
     background-image: url(../images/background.png);
     background-size: 90%;
     background-position: center;
     transition: background-size 800ms;
     border-radius: 30px;
 }
 .wrap__02:hover{
     background-size: 100%;
 
 }

 .wrap__03{
    width: 505px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 
.container-2{
    width: 100%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.front{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.square{
    width: 480px;
    height: 480px;
    border-radius: 16px;
    background: black;

}
.s1{
    background-image: url(../images/fashion1.jpg);
    background-repeat: no-repeat;
    background-position:bottom center;
    background-size: cover;
}
.s2{
    background-image: url(../images/fashion2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s3{
    background-image: url(../images/fashion3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s4{
    background-image: url(../images/fashion4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.left-col-1, .right-col-1{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.text-block{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
.text-block h1{
    width: 480px;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: black;
    line-height: 1.2em;
}
.discount-box{
    width:  480px;
    height: 185px;
    background: #1f3526;
    border-radius: 20px;
   
}
.db-txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px;
}
.txt-1{
    width: 104px;
    margin: 0;
    font-size: 16px;
    color: #fff;
    padding:4px 12px;
    border: 1px solid #fff;
    border-radius: 20px;
}
.txt-2{
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}
.txt-3{
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color: #c9f269;
}
.navbar{
    margin-left: 2em;
    display: grid;
    grid-template-columns: 180px auto;
    align-items: center;
    height: 75px;
}


header nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 6em;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    position: relative;
} 

nav ul li a.active:before{
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -5px;
} 

#logo{
    text-decoration: none;
    color: white;
    text-transform: uppercase ;
    font-size: 1.6rem;
    font-weight: 700;
} 

.primary-nav{
    gap: 4em;
    margin: 0;
    text-transform: uppercase;
}
.sec-nav{
    width:  200px;
    height: 0px;
    border-bottom: 58px solid #93d5e1;
    border-left: 50px solid transparent;
    position: sticky;
    margin-right: -12.6em;
    border-top-right-radius: 2em;
}

.secondary-nav a{
    margin: 0;
    font-size: 1.3rem;
    color: white;
    background: rgb(8, 0, 14);
    padding: 12px 22px;
    border-radius: 30px;
    position: absolute;
    top: 9px;
    right: 40px;
}




/*HERO SECTIONS */


 .wrapper h1{ 
    margin: 0;
    font-size: 50px;
    font-weight: 600;
    color: black;
    line-height: 1.2em; 

}


.wrapper{
    margin: 35px;
    display:flex;
    flex-direction: column;
    gap: 100px;
    font-family: 'poppins', serif;
    
    }

.wrapper p{
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
}
.arrow1 {
    margin: 0;
    width: 35px;
    height: 35px;  
}
.below{
    display: flex;
    gap: 2em;
    align-items: center;
}

.below a{
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    border: .12em solid black;
    padding: .8em;
    border-radius: 50px;
    width: 14em;
}
.below:hover img{
transform: translateX(10px);
transition: 600ms;
}

.left-col{
    margin: 0;
    font-size: 1;
    font-weight: 500;
   
}

.left-col  p{
    width: 200px;
    height: 34px;
    color: white;
    margin: 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px;
    font-size: .9em;
    text-align: center;
    margin-top: 5px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.right-col{
   display: flex;
   flex-direction: row;
   gap: 15px;
}
.store-1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    margin-top: 8px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.store-2{
    position: absolute;
    top: 18px;
    right:18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.store-icon{
 width: 2em;
 height: 2em;
}

.card{
    width: 20em;
    height: 20em;
    border-radius: 2em;
    padding: 10px;
    
}
.card1  {
    display: grid;
    grid-auto-rows: 7em;
    grid-row-gap: 6em;
    grid-area: left;
    background: #dabda9;
}
.card2 {
    display: grid;
    grid-auto-rows: 7em;
    grid-row-gap: 7em;
    grid-area: right;
    background: #b8c0ff;
}

.card-details1 h2{
    margin: 0;
    margin-left: .3em;
    font-size: 4em;
    font-weight: 600;
}

.card1 p{
    margin: 0;
    font-size: 1.3em;
    font-weight:500;
}
.card-details2 p{
    margin: 0;
    font-size: 1.6em;
    font-weight:600;
    margin-left: 1em;
}
.card-details1{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
}
.card-details1 p{
margin-left: 1em;
}



#image1{
    position: absolute;
    margin: 0;
    width: 800px;
    height: 800px;
    top: -300px;
    right: -100px;
    pointer-events: none;
}
.righticon {
    margin: 0;
    width: 30px;
    height: 30px;
    
}

.feeds{
    font-size: 1.3em;
    margin: 0;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 48px;
    border-radius: 3em;
    margin-top: 8px;
    margin-left: 8px;

}

#staricon{
    position: absolute;
    margin: 0;
    width:45px;
    height: 45px;
    top: 96px;
    right: 610px;
    pointer-events: none;
}
.circleicon{
    position: absolute;
    margin: 0;
    width: 45px;
    height: 45px;
    top: 15px;
    right:15px;
}

.cir{
    background: -webkit-linear-gradient(wheat -40%, #93d5e1);
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 55px;
    right: 130px;
    
}
