html {
    font-family: 'poppins';
}

body{
    width: 1200px;
    background: #090a0f;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #090a0f;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #5e5e5e;
  }
main{
    width: 1100px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
}

header{
    height: 65px;
    width: 1100px;
}

.container-1{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.wrapper__02{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.wrap__01{
    width: 1100px;
    height:500px;
    grid-area: right;
    position: relative;
    background: #93d5e1;
    border-radius: 30px 0px 30px 30px;
}


 .wrap__02{
    width: 550px;
     background-image: url(../images/background.png);
     background-size: 90%;
     background-position: center;
     transition: background-size 800ms;
     border-radius: 30px;
     position: relative;

 }
 .wrap__02:hover{
     background-size: 100%;
 
 }

 .wrap__03{
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 
.container-2{
    width: 100%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.front{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.square{
    width: 480px;
    height: 480px;
    border-radius: 16px;
    background: black;

}
.s1{
    background-image: url(../images/fashion1.jpg);
    background-repeat: no-repeat;
    background-position:bottom center;
    background-size: cover;
}
.s2{
    background-image: url(../images/fashion2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s3{
    background-image: url(../images/fashion3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s4{
    background-image: url(../images/fashion4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.left-col-1, .right-col-1{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.text-block{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
.text-block h1{
    width: 480px;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: black;
    line-height: 1.2em;
}
.discount-box{
    width:  480px;
    height: 185px;
    background: #1f3526;
    border-radius: 20px;
   
}
.db-txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px;
}
.txt-1{
    width: 104px;
    margin: 0;
    font-size: 16px;
    color: #fff;
    padding:4px 12px;
    border: 1px solid #fff;
    border-radius: 20px;
}
.txt-2{
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}
.txt-3{
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color: #c9f269;
}
header{
    width: 1100px;
    height: 75px;
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25em;
}
.primary-nav ul{
    display: flex;
    flex-direction: row;
    gap: 5em;
    list-style: none;
    margin: 0;
    padding: 0;
}
.primary-nav li a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
}
#logo{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 25px;
}


/*HERO SECTIONS */


 .wrapper h1{ 
    margin: 0;
    font-size: 50px;
    font-weight: 600;
    color: black;
    line-height: 1.2em; 

}


.wrapper{
    margin: 35px;
    display:flex;
    flex-direction: column;
    gap: 100px;
    font-family: 'poppins', serif;
    
    }

.wrapper p{
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
}
.arrow1 {
    margin: 0;
    width: 35px;
    height: 35px;  
}
.below{
    display: flex;
    gap: 10px;
    align-items: center;
}

.below a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    background: #111;
    text-transform: uppercase;
    border-radius: 50px;
    width: 165px;
    height: 50px;
}
.below:hover img{
transform: translateX(10px);
transition: 600ms;
}

.left-col{
    margin: 0;
    font-size: 1;
    font-weight: 500;
   
}

.left-col  p{
    width: 200px;
    height: 34px;
    color: white;
    margin: 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px;
    font-size: .9em;
    text-align: center;
    margin-top: 5px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.right-col{
   display: flex;
   flex-direction: row;
   gap: 15px;
}
.store-1 a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    margin-top: 3px;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.store-2{
    position: absolute;
    top: 15px;
    right:15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.store-icon{
 width: 20px;
 height: 20px;
}

.card{
    width: 220px;
    height: 220px;
    border-radius: 30px;
    padding: 15px;
    
}
.card1  {
   
    background: #dabda9;
}
.card2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #b8c0ff;
    gap: 50px;
}

.card-details1 h2{
    margin: 0;
    margin-left: .3em;
    font-size: 4em;
    font-weight: 600;
}

.card1 p{
    margin: 0;
    font-size: 1.3em;
    font-weight:500;
}
.card-details2 p{
    margin: 0;
}
.card-details1{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
}



#image1{
    position: absolute;
    margin: 0;
    width: 800px;
    height: 800px;
    top: -300px;
    right: -100px;
    pointer-events: none;
}
.righticon {
    margin: 0;
    width: 30px;
    height: 30px;
    
}

.feeds{
    font-size: 12px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    border-radius: 30px;
    /*
    margin-top: 3px;
    margin-left: 3px;
    */

}

#staricon{
    position: absolute;
    margin: 0;
    width:45px;
    height: 45px;
    top: 96px;
    right: 610px;
    pointer-events: none;
}
.circleicon{
    position: absolute;
    margin: 0;
    width: 45px;
    height: 45px;
    top: 15px;
    right:15px;
}

.cir{
    background: -webkit-linear-gradient(wheat -40%, #93d5e1);
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 55px;
    right: 130px;
    
}

